:root {
    --primary: #8a8a8a;
}

.btn {
    padding: 8px 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: none;
}

.btn:hover {
    padding: 8px 20px;
    transition: all 0.3s ease-out;
    background: #3CAEA3;
    transition: 250ms;
}

.btn--primary {
    background-color: var(--primary);
}

.btn--outline {
    background-color: transparent;
    color: rgb(255, 255, 255);
    padding: 9px 20px;
    border-radius: 4px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
}

.btn--medium {
    padding: 8px 20px;
    border-radius: 4px;
    font-size: 18px;
    color: rgb(0, 0, 0);
}

.btn--large {
    padding: 12px 26px;
    border-radius: 4px;
    font-size: 20px;
    color: #fff;
}