.custome-file-upload {
    padding: 8px 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    background-color: #8a8a8a;
    font-family: Arial;
}

.custome-file-upload:hover {
    padding: 8px 20px;
    transition: all 0.3s ease-out;
    background: #3CAEA3;
    transition: 250ms;
}

input[type="file"] {
    display: none;
}

.input-file {
    margin-left: 2%;
}