
.child-index {
    width: 24%;
    margin-left: 3%;
    margin-right: 3%;
    float: left;
    background-color: #333333;
    padding-left: 1%;
    padding-right: 2%;
    padding-top: 0.6%;
    padding-bottom: 0.6%;
    border-radius: 5%;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    color: #FFFFFF;
}

.index{
    width: 95%;
    float: left;
    text-align: center;
    padding: 0%;
}

.indexBox{
    background-color: #8a8a8a;
    margin-left: 0%;
    padding: 0.2% 0.4% 0.2% 0.4%;
    display: flex;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}

.index-positive {
    color: green;
    float: left;
    margin-left: 3%;
}

.index-negative {
    color: red;
    float: left;
    margin-left: 3%;
}

.index-value {
    float: left;
    margin-left: 20%;
}

.marketStatusBox{
    background-color: #FF8C00;
    border-radius: 10px;
    width: 6%;
    float: left;
    text-align: center;
    padding-top: 0%;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}