
.boldIntervalButton {
    font-weight: 900;
}

.chart-container {
    height: 70%;
    width: 79%;
    position: absolute;
    left: 20%;
    padding-top: 0%;
    text-align: center;
}

.column {
    display: flex;
    text-align: left;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.company-name {
    margin-right: 30%;
    margin-bottom: 0%;
    margin-top: 0%;
    text-align: right;
}

h2 {
    text-align: center;
}

.input {
    box-sizing: border-box;
    padding: 4px 0px;
    margin: 2px;
    font-size: 1.2rem;
}

.intervalButtons {
    padding-left: 85%;
}

label {
    font-family: 'Times New Roman', Times, serif;
}

.line-chart {
    width: 200px;
    height: 200px;
}

p {
    font-size: 0.8rem;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 18%;
    padding-left: 1%;
    margin-bottom: 1%;
    border-style: solid;
}
  
.stock-finder {
    padding-left: 30px;
    padding-top: 15px;
    margin-top: 2px;
    font-size: 1.2rem;
}

.stock-stats {
    padding-top: 0%;
}
  
.ticker {
    margin: 2px;
    font-family: Arial;
}
